/* YOUR CUSTOM STYLES */



h1 {
	font-family: 'Roboto', sans-serif;
	font-style:bold;
	font-size:16px;
}

th {
	text-align:center;
}

.vid-container{
	position:relative;
	margin-top:20px;
	margin-left:150px;
	height:625px;
  width:860px;
	background-color:#EBEFF2;
}

.vid{
	position:absolute;
	margin-top:30px;
	margin-left:20px;	
}

.vid-stats{
  position:absolute;
  margin-top:300px;
  margin-left:20px;
  margin-right:20px;	
  height:300px;
  width:430px;
  top: 0px;	
  border-color:grey;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  text-align:center;
  background-color:white;
  overflow:auto;
}

.chart-container{
position:absolute;
margin-top: -270px;
float:right;
}

#chartdiv {
  position:relative;
  width : 300px;
  height  : 75px; 
  margin-left:500px;
}

#chartdiv2 {
  position:relative;
  width : 300px;
  height  : 75px; 
  margin-left:500px;
}

#chartdiv3 {
  position:relative;
  width : 300px;
  height  : 75px; 
  margin-left:500px;
}

#chartdiv4 {
  position:relative;
  width : 300px;
  height  : 75px; 
  margin-left:500px;
}

#chartdiv5 {
  position:relative;
  width : 300px;
  height  : 75px; 
  margin-left:500px;
}

table {
	overflow:auto;
}
